<template>
  <div class="home">
    <div class="hero-block bg-gray-500">
      <div class="container flex justify-center items-center h-64">
        <reservation-form/>
      </div>
    </div>
    <div class="container">
      <vehicle-list filtered />
    </div>
  </div>
</template>

<script>
import ReservationForm from '@/components/ReservationForm'
import VehicleList from '@/components/VehicleList'
export default {
  name: 'home',
  data () {
    return {
      vehicles: []
    }
  },
  components: {
    ReservationForm,
    VehicleList
  }
}
</script>
