<template>
    <button class="py-3 px-5 text-white rounded"
        :class="{'bg-black':dark, 'bg-gray-400': !dark}">This is a button</button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    dark: {
      type: Boolean,
      default: false
    }
  }
}
</script>
