<template>
  <div class="reservation-form p-5 bg-white rounded-lg w-1/2">
    <input-select :empty="'-- Choose location --'" :label="'Pickup location'" :options="locations" @onSelect="filterVehiclesOnApi"/>
  </div>
</template>

<script>
import InputSelect from '@/components/forms/InputSelect'
export default {
  components: {
    InputSelect
  },
  computed: {
    locations () {
      return this.$store.getters.allLocations
    }
  },
  methods: {
    filterVehicles (value) {
      this.$store.dispatch('filterVehicles', +value)
    },
    filterVehiclesOnApi (value) {
      this.$store.dispatch('filterVehiclesOnApi', +value)
    }
  }
}
</script>
