<template>
  <div class="vehicle rounded overflow-hidden mb-4 border p-4">
    <div class="flex">
      <div class="w-1/3">
        <div class="font-bold text-xl mb-2">{{ name }}</div>
      </div>

      <div class="bg-white w-1/3">
        <img :src="image" alt="Sunset in the mountains">
      </div>

      <div class="w-1/3 text-right">
        <span class="inline-block bg-gray-300 rounded-full px-3 py-1 text-lg font-semibold text-gray-500 mr-2">
          ${{ price }}/day
        </span>
      </div>
    </div>
    <div class="flex justify-between border-t items-center mt-2 pt-4">
      <router-link :to="{ name: 'vehicle.detail', params: { slug:slug }}">More details</router-link>
      <availability-badge :available="available" />
    </div>
  </div>
</template>

<script>
import AvailabilityBadge from '@/components/AvailabilityBadge'
export default {
  components: {
    AvailabilityBadge
  },
  props: {
    name: {
      type: String,
      required: true
    },
    slug: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: null
    },
    price: {
      type: Number,
      default: null
    },
    available: {
      type: Number,
      default: 1
    }
  }
}
</script>
